{% extends 'core/base.html' %}

{% block title %}Artists{% endblock %}

{% block content %}

<div class=" flex justify-center">

    <div >
        <form action="" method="GET">
          <div>
            <select name="filter" id="">
              <option value="" disabled selected>Sort by</option>
              <option value="name">Name Asc</option>
              <option value="-name">Name Desc</option>
              <option value="birthday">Birthday Asc</option>
              <option value="-birthday">Birthday Desc</option>
            </select>
            <button type="submit" class="ml-3 bg-stone-400 text-white px-4 py-2 rounded-3xl">Update</button>
        </form>
    </div>
    </div>

</div>

<div class="mt-6 px-6 py-12 bg-gray-100">
  <h1 class="mb-12 text-3xl text-center">Artists</h1>
  <div class="grid grid-cols-4 gap-3 justify-center">
    {% for artist in artists %}
    <div>
      <a href="{% url 'artwork:artist' artist.id %}" class="">
        <div class="card" style="">
          {% if artist.photo %}
          <img src="{{ artist.photo.url }}" alt="">
          {% else %}
          <p>No photo available</p>
          {% endif %}
          <div class="card-body p-6 bg-white">
            <p class="card-text italic text-stone-500">{{ artist.name }}, {{ artist.surname }} </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="flex justify-center mt-12">
    <a href="#" class=" p-2 text-lg bg-stone-400 text-white hover:bg-stone-500 rounded-3xl">Top</a>
  </div>
</div>
{% endblock %}

