{% extends 'core/base.html' %}

{% block title %}{{collection.name}}{% endblock %}

{% block content %}

<div class=" flex justify-center">

    <div >
        <form action="" method="GET">
            <div>
                <select name="filter" id="">
                    <option value="" disabled selected>Sort by</option>
                    <option value="name">Title Asc</option>
                    <option value="-name">Title Desc</option>
                    <option value="year">Year Asc</option>
                    <option value="-year">Year Desc</option>
                    <option value="artist">Artist</option>
                </select>
                <button type="submit" class="ml-3 bg-stone-400 text-white px-4 py-2 rounded-3xl">Update</button>
            </div>
        </form>
    </div>
</div>

</div>


<div class="mt-6 px-6 py-12 bg-gray-100">
    <h1 class="mb-6 text-3xl text-center">{{collection.name}}</h1>
    <div class="flex justify-center">
        <div class="w-1/2 mb-6">
            <p class="text-center">{{collection.description}}, by
                <a href="{% url 'accounts:my_profile' collection.owner.id %}">{{collection.owner}}</a>
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 justify-center">
        {% for artwork in artworks %}
        <div>
            <a href="{% url 'artwork:detail' artwork.id %}" class="">
                <div class="card" style="">
                    {% if artwork.photo %}
                    <img src="{{ artwork.photo.url }}" alt="">
                    {% else %}
                    <p>No photo available</p>
                    {% endif %}
                    <div class="card-body p-6 bg-white">
                        <p class="card-text italic text-stone-500">{{ artwork.title }}, {{ artwork.artist }} </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% if collection.owner == request.user %}
    <div class="flex flex-col sm:flex-row w-100 justify-center mt-12 border-t border-b p-6">
        <a href="{% url 'artwork:edit_collection' collection.id %}" class="mt-4 sm:mt-0 sm:ml-4 py-4 px-8 text-xl font-bold text-yellow-600 hover:text-yellow-200 bg-yellow-100 hover:bg-yellow-600">EDIT</a>
        <a class="mt-4 sm:mt-0 sm:ml-4 py-4 px-8 font-bold text-xl text-red-500 hover:text-red-200 bg-red-100 hover:bg-red-600" data-toggle="modal" data-target="#exampleModalCenter">DELETE</a>
     <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Collection</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you're willing to delete this artwork from your library?
                    </div>
                    <div class="modal-footer">
                        <button   data-dismiss="modal" class="ml-4 py-4 px-8 font-bold text-xl text-teal-600 hover:text-teal-200 bg-teal-100 hover:bg-teal-600">Close</button>
                        <a href="{% url 'artwork:delete_collection'  pk=collection.id delete_artworks=False %}"  class="ml-4 py-4 px-8 font-bold text-xl text-red-500 hover:text-red-200 bg-red-100 hover:bg-red-600">DELETE COLLECTION</a>
                        <a href="{% url 'artwork:delete_collection'  pk=collection.id delete_artworks=True %}"  class="ml-4 py-4 px-8 font-bold text-xl text-red-500 hover:text-red-200 bg-red-100 hover:bg-red-600">DELETE AND REMOVE ARTWORKS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="flex justify-center mt-12">
        <a href="#" class=" p-2 text-lg bg-stone-400 text-white hover:bg-stone-500 rounded-3xl">Top</a>
    </div>
</div>
{% endblock %}

