{% extends 'core/base.html' %}

{% block title %} {{artwork.title}} {% endblock %}

{% block content %}
    <div class="p-2">
      <div class="flex justify-center">
        <h3 class="text-2xl italic text-stone-500 pb-3">{{ artwork.title }}, by {{artwork.artist}}</h3>
      </div>
      <div class="flex justify-center ">
        {% if artwork.photo %}
        <img src="{{ artwork.photo.url }}" alt="" class="w-50">
        {% else %}
        <p>No photo available</p>
        {% endif %}
      </div>
      <div class="p-6 bg-white">
        <a href="{% url 'artwork:artist' artwork.artist.id %}">
           <h3 class="text-xl text-stone-500 italic underline">Artist: {{ artwork.artist }} </h3>
        </a>
        <h3 class="text-xl text-stone-500">Title: {{ artwork.title }} </h3>
        <h3 class="text-xl text-stone-500">Genre: {{ artwork.genre }} </h3>
        <h3 class="text-xl text-stone-500">Year: {{ artwork.year }} </h3>
        <h3 class="text-xl text-stone-500"> {{ artwork.description }} </h3>
      </div>
    </div>

    {% if related %}
        <div class="mt-6 px-6 py-12 bg-gray-100">
            <h1 class="mb-12 text-3xl text-center">More on {{artwork.genre}}</h1>
      <div class="grid grid-cols-4 gap-3 justify-center">
        {% for artwork in related %}
        <div>
          <a href="{% url 'artwork:detail' artwork.id %}" class="">
            <div class="card" style="">
              {% if artwork.photo %}
              <img src="{{ artwork.photo.url }}" alt="">
              {% else %}
              <p>No photo available</p>
              {% endif %}
              <div class="card-body p-6 bg-white">
                <p class="card-text italic text-stone-500">{{ artwork.title }}, {{ artwork.artist }} </p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      </div>
    {% endif %}
{% endblock %}