{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="m-6 px-6 py-12 bg-gray-100">
        <h1 class="mb-12 text-3xl text-center">Explore Artworks</h1>
        {% if artworks %}

        <div class="flex items-center justify-center">

            <div id="carouselExampleControls" class="carousel slide w-75" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <a href="{% url 'artwork:detail' artworks.0.id %}" class="">
                            <div class="card" style="">
                                {% if artworks.0.photo %}
                                <img src="{{ artworks.0.photo.url }}" alt="">
                                {% else %}
                                <p>No photo available</p>
                                {% endif %}
                                <div class="card-body p-6 bg-white">
                                    <p class="card-text italic text-stone-500">{{ artworks.0.title }}, {{ artworks.0.artist }} </p>
                                </div>
                            </div>

                        </a>
                    </div>

                    {% for artwork in artworks|slice:"1:" %}

                        <div class="carousel-item ">
                            <a href="{% url 'artwork:detail' artworks.0.id %}" class="">
                                <div class="card" style="">
                                    {% if artworks.0.photo %}
                                    <img src="{{ artwork.photo.url }}" alt="">
                                    {% else %}
                                    <p>No photo available</p>
                                    {% endif %}
                                    <div class="card-body p-6 bg-white">
                                        <p class="card-text italic text-stone-500">{{ artwork.title }}, {{ artwork.artist }} </p>
                                    </div>
                                </div>

                            </a>
                        </div>
                    {% endfor %}
                    {% endif %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'artwork:all_artworks' %}" class="py-4 px-8 text-lg bg-stone-400 text-white hover:bg-stone-500">See all</a>
        </div>
        </div>
    </div>
    <div class="m-6 px-6 py-12 bg-gray-100">
        <h1 class="mb-12 text-3xl text-center">Explore Artists</h1>
        <div class="grid grid-cols-4 gap-3 justify-center">
            {% for artist in artists %}
            <div>
                <a href="{% url 'artwork:artist' artist.id %}" class="">
                    <div class="card" style="">
                        {% if artist.photo %}
                        <img src="{{ artist.photo.url }}" alt="">
                        {% else %}
                        <p>No photo available</p>
                        {% endif %}
                        <div class="card-body p-6 bg-white">
                            <p class="card-text italic text-stone-500">{{ artist.name }}, {{ artist.surname }} </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'artwork:all_artists' %}" class="py-4 px-8 text-lg bg-stone-400 text-white hover:bg-stone-500">See all</a>
        </div>
    </div>
{% endblock %}

